{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/styleForm.css">
{% endblock %}

{% block content %}
    <div class="Form">
        <p class="change"><span class="userBtn required">Пользователь</span> <b>/</b> <span class="companyBtn">Компания</span></p>
        <div class="user form">
            <form action="" method="post">
                <div>
                    {{ form_user.csrf_token }}
                </div>
                {% for field in form_user if field.name != "csrf_token" %}
                    <div class="input">
                        <p>{{ field.label() }}</p>
                        <p>
                            {{ field() }}
                            {% for error in field.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </p>
                    </div>
                {% endfor %}
            </form>    
        </div>
        <div class="company form hidden">
            <form action="" method="post">
                <div>
                    {{ form_company.csrf_token }}
                </div>
                {% for field in form_company if field.name != "csrf_token" %}
                    <div class="input">
                        {% if field.label().text != "Войти" %}
                            <p>{{ field.label() }}</p>  
                        {% endif %}
                        <p>
                            {{ field() }}
                            {% for error in field.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </p>
                    </div>
                {% endfor %}
            </form>    
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="../../static/js/scriptLogReg.js"></script>
{% endblock %}